body {
  font-family: verdana;
}

select,button {
  height: 2rem;
}

#container {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#container div {
  border: solid 1px black;
  border-radius: 50%;

}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.sm {
  width: 3rem;
  height: 3rem;
}

.md {
  width: 5rem;
  height: 5rem;
}

.lg {
  width: 8rem;
  height: 8rem;
}